name: Build Vue
on: [push]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - id: Build-Vue
      uses: xRealNeon/VuePagesAction@1.0.1
      with:
        username: 'Ricksons'
        reponame: 'new-repo' 
        token: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
        
    - name: Sleep for 5m
      run: sleep 2m
      
  copy:
    runs-on: ubuntu-latest
    steps:
    - name: Copy
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.GITHUB_TOKEN }}
        src_path: /.
        dst_path: BUILD
        dst_owner: Ricksons
        dst_repo_name: new-repo
        src_branch: gh-pages
        dst_branch: master
        
    - name: Sleep for 7m
      run: sleep 2m
        
  scp:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@master
        - name: copy file via ssh password
          uses: appleboy/scp-action@v0.1.3
          with:
           host: 164.92.85.194
           username: test
           password: qwe
           port: 22
           source: "."
           target: "./folder3/"
