name: Build Vue
on: [push]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - id: Build-Vue
      uses: xRealNeon/VuePagesAction@1.0.1
      with:
        username: 'Ricksons'
        reponame: 'new-repo' 
        token: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
  copy:
    needs: build_vue
    runs-on: ubuntu-latest
    steps:
     - run:
        git clone "https://username:${{github.token}}@github.com/${{github.repository}}.git" ./
        && git checkout gh-pages
        && mkdir ../build
        && cp -TR . ../build
        && tar -cvf deploy.tar ../build/
        && chmod 777 deploy.tar
     - name: copy file via ssh password
       uses: appleboy/scp-action@master
       with:
         host: 164.92.85.194
         username: test
         password: qwe
         port: 22
         source: "./deploy.tar"
         target: "folder4"
